body{
	background-color: #060612;
	background-image: linear-gradient(black,transparent,black);
	color: white;
	font-family: sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.aboutArticle{
	color: #EDE99C;
	font-family: serif;
	border: groove #EDE99C 4px;
	margin: 15px;
	padding: 10px;
	display: inline-grid;
}

.aboutArticle img{
	width: 350px;
	padding: 10px;
}

.comicPage img{
	border: 4px solid #EDE99C;
	margin: 5px;
}

.writePageTitle{
	color: #EDE99C;
	font-family: serif;
	font-style: italic;

}
.writeNav img{
	margin: 5px;
}
.comicNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

#authorNotes {
  font-family: serif;
  background-color:#060612;
  background-image: radial-gradient(transparent,black);
  border: 3px groove #EDE99C;
  color: #EDE99C;
  margin: auto;
  padding: 3px;
  width: 900px;
  max-width: 98%;
}

.aboutArticle a:hover{
	text-decoration: underline;
}
.aboutArticle a{
	color: #EDE99C;
	text-decoration: none;
	font-style: oblique;
}

.navHeader a{
	text-decoration: none;
	font-family: sans-serif;
	padding: 5px;
	margin: 2px;
	border: groove white 2px;
	box-shadow: #C37484 1px 1px;
}

.navHeader a:hover{
	color: #EDE99C;
	border-color: #EDE99C;
	box-shadow: #43225B 1px 3px;
}


.pageFooter{
	color: #301944;
	font-size: 9px;
}

.pageFooter a:hover{
	border: groove #EDE99C 2px;
	box-shadow: #43225B 1px 3px;	
}

.characterArticle{
	margin:15px;
	display: ruby;
}

.character{
	width: 35%;
	margin:10px;
	border: groove #EDE99C 4px;
	color: #EDE99C;
	font-family: serif;
	display: inline-block;
}

.characterText{
	margin-left: 200px;
	margin-top: -200px;
}

.character img{
	width: 150px;
	margin: 15px;
	padding: 5px;
	border: groove #EDE99C 4px;
}